pandas==2.3.2
flask==3.0.3
Werkzeug>=3.0.0
gunicorn==21.2.0
torch==2.3.1
torchvision==0.18.1
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
ultralytics==8.0.200

pillow
numpy
huggingface_hub
